<h1>Real Estate</h1>

<div class="listings">
<% @listings.each do |listing| %>
  <% property = listing.property %>
  <div class="listing">
    <h2>
      <span class="price"><%= number_to_currency(listing.list_price, :precision => 0) %></span>
    </h2>
    <%= image_tag listing.photo.url(:medium) %>
    <h3><%= listing.address %></h3>
    <% if property.has_baths %>
    <strong>Baths: </strong><span><%= property.baths %></span>
    <% end %>
    <% if property.has_beds %>
    <strong>Beds: </strong><span><%= property.beds %></span>
    <% end %>
    <% if property.has_lot_size %>
      <strong>Lot Size: </strong><span><%= property.lot_size %> acres</span>
    <% end %>
    <p><%= listing.remarks %></p>
  </div>
<% end %>
</div>
