<h1>Real Estate</h1>

<div class="listings">
<% @listings.each do |listing| %>
  <div class="listing">
    <h2>
      <span class="price"><%= listing.list_price %></span>
    </h2>
    <% if listing.has_primary_photo %>
    <a href="<%= listing_path(listing) %>">
      <%= image_tag listing.primary_photo.image.url(:medium) %>
    </a>
    <% end %>
    <h3><%= listing.address %></h3>

    <%= render(partial: 'details', locals: {property: listing.property}) %>
    <p><%= listing.remarks %></p>
  </div>
<% end %>
</div>
